*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}
body {
    /* font-family: 'Roboto', sans-serif; */
    background-color: rgb(156,177,255);
    background: linear-gradient(0deg, rgba(156,177,255,1) 0%, rgba(193,245,255,1) 43%, rgba(254,254,254,1) 100%);
}
/* Для настройки меню, Н */
 #insidenav{
    border-radius: 25px;
    border:none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    background: #ffffff;
} 
/* #sidenav{
background: #42c362; 
}
/* конец */


/* Header */
#navbar{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    background: #ffffff;
    
    
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span{
    color: #ffa500;
}
.navbar-toggler span{ /* иконка бургер*/
    color: #000000;
}
.navbar-nav{
  /*  margin-left: 20px; мешает в меню, где-то еще надо?*/
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
}




.news-area .card{
    border-radius: 25px;
    border:none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    
}

/* или цвет границы */
/* .news-area .card:hover{
    background-color: #c34242;
} */
.news-area .card img{
    border-radius: 25px;
}
.news-area .card .card-body{
    background: transparent; 
}
/* .news-area .card .card-body h3{
    font-size: 16px;
    font-weight: 600;
} */
.news-area .card .card-body p{
    font-size: 16px;
}
.news-area .card .card-body span{
    font-size: 12px;
    color: rgb(35, 35, 35);
}

/* .news-area .card .card-body h6{
    font-size: 20px;
} */
/* .news-area .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
} */
/*  @media (min-width:768) {
    .news-one {
    width: 20% !important;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }

 } */

.new-thumb a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.new-thumb img{
    max-width: 100%;
    max-height: 100%;
}


/* Для календарь, Олеся добавила */
#calendar-card {
    border-radius: 25px;
    border:none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79a6f0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
}


#footer{
    width: 100%;
    text-align: center;
    background: #f9f9f9;
    margin-top: 150px;
}
/*  .social-links i{
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}   */
