*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(156,177,255);
    background: linear-gradient(0deg, rgba(156,177,255,1) 0%, rgba(193,245,255,1) 43%, rgba(254,254,254,1) 100%);
}

@media (max-width: 992px) {
    .body{
        min-width: 990px;
    }
}



/* Header */
#navbar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background: #ffffff;
   
}
#navbar.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}


/* НАСТРОЙКИ МЕНЮ LASTVER, N */
a.nav-link{
    color: #000000;
    transition: 0.5s ease; /* эффект перехода от прямоугольничков, Н */
}
a.nav-link:hover {
    background-color: #e4f0fe; /* Серое свечение при наведении */
    color: #000000;
    border-radius: 25px;   
}


/* РАБОТАЕТ */
@media (max-width: 768px) {
    nav.nav {
        width: 100%;
        margin-bottom: 1rem;
        height: auto; /* Высота зависит от содержимого */
    }
}

@media (min-width: 768px) {
    nav.nav {
        height: 600px; /* Фиксированная высота для больших экранов */
    }
}







/* Новости */
.news-area .card{
    border-radius: 25px;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    
}

/* или цвет границы */
/* .news-area .card:hover{
    background-color: #c34242;
} */
.news-area .card img{
    border-radius: 25px;
}
.news-area .card .card-body{
    background: transparent; 
}
/* .news-area .card .card-body h3{
    font-size: 16px;
    font-weight: 600;
} */
.news-area .card .card-body p{
    font-size: 16px;
}
.news-area .card .card-body span{
    font-size: 12px;
    color: rgb(35, 35, 35);
}




.big-card {
    position: relative;
    border-radius: 15px; /* Скругленные углы */
    overflow: hidden; /* Обрезает все, что выходит за пределы элемента */
    height: 100%;
    align-items: center;
    justify-content: center;
}

.big-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.big-card-text {
    position: absolute;
   /*  top: 50%;  *//* Смещение текста от верхнего края */
   /*  right: 50%; */ /* Смещение текста от правого края */
    /* transform: translate(-50%, -50%); */
    background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для текста */
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.big-card-text h4 {
    margin: 0;
    font-size: 1.5rem;
}

.big-card-text p {
    margin: 10px 0 0;
    font-size: 1rem;
}





/* Медиа-запросы для адаптации на различных устройствах */
@media (max-width: 768px) {
    .big-card {
        height: auto;
    }

    .big-card .employee-photo {
        width: 80px;
        height: 80px;
    }

    .big-card .congratulation h4 {
        font-size: 1.2rem;
    }

    .big-card .congratulation p {
        font-size: 0.9rem;
    }
}







/* КАЛЕНДАРЬ */
.cal-container {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 25px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ширина контейнера равна ширине колонки */
}

.icon-container { /* вылазит за пределы;настроить */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79a6f0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
    margin-top: 24px;
}

.col-md-1 {
    flex: 0 0 auto;
    max-width: 100px; /* Задаем фиксированную ширину */
}
@media (max-width: 768px) {
    .col-md-1 {
        max-width: 100%; /* Задаем 100% ширину при сжатии */
    }
    .cal-container {
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
        margin-top: 0;
    }
}
/* КАЛЕНДАРЬ конец */




/* FOOTER */
#footer{
    width: 100%;
    text-align: center;
    
    background: #f9f9f9;
    margin-top: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.social-links i{
    padding: 10px;
    color: rgb(0, 0, 0);
   /*  transition: 0.5s ease; */
} 
 
