/* СТАРОЕ С БЭЙЗ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(156,177,255);
  background: linear-gradient(0deg, rgba(156,177,255,1) 0%, rgba(193,245,255,1) 43%, rgba(254,254,254,1) 100%);
}

@media (max-width: 992px) {
  .body{
      min-width: 990px;
  }
}



/* Header */
#navbar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background: #ffffff;
 
}
#navbar.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}






/* НАСТРОЙКИ МЕНЮ LASTVER, N */
a.nav-link{
  color: #000000;
  transition: 0.5s ease; /* эффект перехода от прямоугольничков, Н */
}
a.nav-link:hover {
  background-color: #e4f0fe; /* Серое свечение при наведении */
  color: #000000;
  border-radius: 25px;   
}


/* РАБОТАЕТ */
@media (max-width: 768px) {
  nav.nav {
      width: 100%;
      margin-bottom: 1rem;
      height: auto; /* Высота зависит от содержимого */
  }
}

@media (min-width: 768px) {
  nav.nav {
      height: 600px; /* Фиксированная высота для больших экранов */
  }
}

/* КАЛЕНДАРЬ */
.cal-container {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 25px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ширина контейнера равна ширине колонки */
}

.icon-container { /* вылазит за пределы;настроить */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79a6f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-align: center;
  margin-top: 24px;
}

.col-md-1 {
  flex: 0 0 auto;
  max-width: 100px; /* Задаем фиксированную ширину */
}
@media (max-width: 768px) {
  .col-md-1 {
      max-width: 100%; /* Задаем 100% ширину при сжатии */
  }
  .calendar-container {
      height: auto;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }
  .vertical-text {
      writing-mode: horizontal-tb;
      transform: none;
      margin-top: 0;
  }
}
/* КАЛЕНДАРЬ конец */

/* FOOTER */
#footer{
  width: 100%;
  text-align: center;
  
  background: #ffffff;
  margin-top: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.social-links i{
  padding: 10px;
  color: rgb(0, 0, 0);
 /*  transition: 0.5s ease; */
} 

/* СТАРОЕ С БЭЙЗ */


/* Для таблица сотрудников */
  /* СТАРОЕ С БЭЙЗ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(156,177,255);
  background: linear-gradient(0deg, rgba(156,177,255,1) 0%, rgba(193,245,255,1) 43%, rgba(254,254,254,1) 100%);
}

@media (max-width: 992px) {
  .body{
      min-width: 990px;
  }
}



/* Header */
#navbar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background: #ffffff;
 
}
#navbar.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}






/* НАСТРОЙКИ МЕНЮ LASTVER, N */
a.nav-link{
  color: #000000;
  transition: 0.5s ease; /* эффект перехода от прямоугольничков, Н */
}
a.nav-link:hover {
  background-color: #e4f0fe; /* Серое свечение при наведении */
  color: #000000;
  border-radius: 25px;   
}


/* РАБОТАЕТ */
@media (max-width: 768px) {
  nav.nav {
      width: 100%;
      margin-bottom: 1rem;
      height: auto; /* Высота зависит от содержимого */
  }
}

@media (min-width: 768px) {
  nav.nav {
      height: 600px; /* Фиксированная высота для больших экранов */
  }
}


/* FOOTER */
#footer{
  width: 100%;
  text-align: center;
  
  background: #f9f9f9;
  margin-top: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.social-links i{
  padding: 10px;
  color: rgb(0, 0, 0);
 /*  transition: 0.5s ease; */
} 

/* СТАРОЕ С БЭЙЗ */


.ftco-section {
  padding: 0 0; }
  
  .ftco-no-pt {
  padding-top: 0; }
  
  .ftco-no-pb {
  padding-bottom: 0; }
  
  
  section {
  display: block; }
  dt {
  font-weight: 700; }
  dd {
  margin-bottom: .5rem;
  margin-left: 0; }
  table {
  border-collapse: collapse; }
  th {
  text-align: center; }



/* Для таблица сотрудников */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border: none;
  padding: 30px;
  font-size: 13px;
  font-weight: 500;
  color: gray;
}
.table thead tr {
  background: #ffffff;
  border-bottom: 4px solid #eceffa;
  border-radius: 25px;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
/* .table tbody tr:last-child {
  border-bottom: 0;
} */

.table tbody th,
.table tbody td {
    border: none;
    padding: 20px;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto; /* ВАЖНО: для маленьких экранов */
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

.alert-link {
  font-weight: 700;
  cursor: pointer;
}

.table-wrap {
  overflow-x: auto; /* ВАЖНО для маленьких экранов */
}

.employee-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}


@media (max-width: 767.98px) {
  .table-wrap {
      overflow-x: auto;
  }
  .table {
      min-width: 1000px; /* Минимальная ширина таблицы - 1000px */
  }
}

/*  */

.table tbody td .email {
  display: flex;
  flex-direction: column; 
}

.table tbody td .email .name {
  font-weight: bold;
}

.table tbody td .email .email {
  font-size: 12px; 
  color: rgba(0, 0, 0, 0.3); 
}

