/* Сброс стилей для всех элементов НАДО ЛИ? это альберт прописывал, у индуса нет такого*/ 
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Основные настройки для body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(156,177,255);
    background: linear-gradient(0deg, rgba(156,177,255,1) 0%, rgba(193,245,255,1) 43%, rgba(254,254,254,1) 100%);
}

.container { /* колонки */
    display: flex;
    justify-content: center;
    align-items: center; /* центрирует дочерние элементы по вертикали */
    min-height: 100vh; /* устанавливает минимальную высоту родительского элемента равной высоте экрана РАБОТАЕТ ЛИ?*/    
}


.box-sign-in { /* плитка основная */
    border-radius: 45px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    background: rgba(255, 255, 255, 0.4);
    /* раньше было просто width:930px */
    width: 100%;
    max-width: 900px; 
}


.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* flex-column */
}
.left-box .mascot-image {
    display: flex;
    justify-content: center;
}

.right-box {
    border: thin; /* граница 1px,  */
    border-radius: 45px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
.right-box h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 45px;
    font-weight:600;
}


/* при сворачивании скроем left-box и отобразим в центре right-box*/
@media (max-width: 768px) {
    .left-box {
        display: none;
    }
    .right-box {
        margin: 0 auto; /* Центрируем блок */
        float: none; /* Отменяем любые float-свойства */
        display: block; /* Обеспечиваем блочное отображение */
    }
}

@media (min-width: 768px) {
    .right-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}






