{% extends 'portal/base.html' %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корпоративный портал Корунд</title>
   <!--  {% load static %} -->
    <link rel="stylesheet" href="{% static 'portal/base.css' %}">
</head>
<body>
    

{% block title %}Главная страница{% endblock %}

{% block content %}
<!--CONTENT AREA START -->
<section class="main-area" id="main-area">
    <div class="container" >
      <div class="row" style="margin-top: 30px;"><!-- Строка контента страницы -->

        <div class="col-md-3 py-3 py-md-0" id="sidenav">
          <!-- МУЧАЕМ МЕНЮЮЮЮЮЮЮ / почтиГОТОВО (специфично для этой страницы, Н)-->
          <nav class="nav flex-column py-3 px-3" style="background-color: white; border-radius: 25px;">

            <ul class="nav d-flex flex flex-column h-100">
                <li class="sidenav-item">
                    <a class="nav-link active" style="background-color:#79a6f0; border-radius:25px; color:black" aria-current="page" href="#">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span> Главная страница </span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span> Личный кабинет </span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a class="nav-link" href="{% url 'dialog_list' %}">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <span> Мессенджер </span><!-- Страница в отключке -->
                    </a>
                </li>
                <li class="sidenav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span> Календарь </span><!-- Доделать -->
                    </a>
                </li>
                <li class="sidenav-item">
                    <a class="nav-link" href="{% url 'employee_list' %}">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span> Сотрудники </span>
                    </a>
                </li>
                <li class="sidenav-item mt-auto" id="sign-out-element">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span> Выйти </span><!-- Добавить переход туда, куда выходим -->
                    </a>
                </li>
            </ul>
          </nav>
        </div>
          
          


        <!-- НОВОСТНОЙ БЛОК -->
        <div class="col-md-8 py-3 py-md-0">
          <section class="news-area" id="news-area">
            <div class="container" style="background-color: rgb(255, 196, 0);">

              <!----------------------- большая новость --------------------------->
              <div class="row" style="height: 250px;">
                  <div class="col-md-12 py-3 py-md-0 py-sm-0">
                    
                    <div class="card h-100">
                      <img src="{{ user.photo }}" alt=""><!-- Фото из бд -->
                    </div>
                  </div>
              </div>
                

                <!-- --------------------- маленькие новости ------------------------- -->  <!-- Фото и текст, дата из бд -->
              <div class="row" style="margin-top: 30px;">

                <div class="col-md-6 py-3 py-md-0 news-one">
                  <div class="card px-3 pt-3">
                      <img  src="https://plus.unsplash.com/premium_photo-1661580998017-8e6a23c1d60e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                      <div class="card-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                        <span>17 июня</span>
                      </div>
                  </div>
                </div>





                <div class="col-md-6 py-3 py-md-0 news-one">
                  <div class="card px-3 pt-3">
                      <img src="https://images.unsplash.com/photo-1598449356475-b9f71db7d847?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                      <div class="card-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                        <span>16 июня</span>
                      </div>

                  </div>
                </div>

                <!-- <div class="col-md-4 py-3 py-md-0 news-one">
                    <div class="card">
                      <img src="{% static 'portal/images/mascot/Корумбек.png' %}" alt="">
                      <div class="card-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                        <span>15 июня</span>
                      </div>

                    </div>
                </div>
                 -->
              </div>

            
                
              <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 py-3 py-md-0 news-one">
                    <li class="card px-3 pt-3">
                      <div class="new-thumb">
                        <a href="#"><img src="https://plus.unsplash.com/premium_photo-1661580998017-8e6a23c1d60e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> </a>
                      </div>
                        <div class="card-body">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                          <span>14 июня</span>
                        </div>
                    </li>
                </div>

                <div class="col-md-4 py-3 py-md-0 news-one">
                  <div class="card px-3 pt-3">
                      <img src="https://plus.unsplash.com/premium_photo-1661580998017-8e6a23c1d60e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                      <div class="card-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                        <span>13 июня</span>

                      </div>

                  </div>
                </div>

                <div class="col-md-4 py-3 py-md-0 news-one">
                  <div class="card px-3 pt-3">
                      <img src="https://plus.unsplash.com/premium_photo-1661580998017-8e6a23c1d60e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                      <div class="card-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                        <span>12 июня</span>

                      </div>

                  </div>
                </div>
                
                  
              </div>
            </div>
          </section>
        </div>


        <!----- КАЛЕНДАРЬ -----> <!-- круг выезжает за границы карточки -->
        <div class="col-md-1 py-3 py-md-0 d-flex  justify-content-center">
          <nav class="calendar-container">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
              <div class="icon-container">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <span class="vertical-text">Календарь</span>
            </div>
          </nav>
        </div>


        


      </div>
    </div>
  </section>
  <!--CONTENT AREA END -->
{% endblock %}