{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="{% static 'portal/css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="{% static 'portal/images/mascot/Корумбек.png' %}" alt="Корунд">
        </div>
        <div class="login-form">
            <img src="{% static 'portal/images/Logo full.svg' %}" alt="Корунд">
            <h2>Добро пожаловать</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Вход</button>
            </form>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
       </div>
    </div>
</body>
</html>
